@model AppBienesRaices.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrarse";
}
@Styles.Render("~/Content/siteCss")
<link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
<link id="gridcss" rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/dark-bootstrap/all.min.css" />
<script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
<script type="text/javascript" src="http://prepbootstrap.com/Content/js/gridData.js"></script>
<style>
    div {
        padding-bottom: 20px;
    }
</style>


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row text-center">
        <h2>New Registration</h2>
    </div>
    <hr/>
    <div id="wrapper">
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div>
            <div>
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
                <div class="col-md-1">
                    <i class="fa fa-lock fa-2x"></i>
                </div>
            </div>
            <div>
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2" })
                <div class="col-md-9">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
                <div class="col-md-1">
                    <i class="fa fa-lock fa-2x"></i>
                </div>
            </div>
            <div>
                @Html.LabelFor(m => m.ConfirmPassword, new {@class = "col-md-2"})
                <div class="col-md-9">
                    @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
                </div>
                <div class="col-md-1">
                    <i class="fa fa-lock fa-2x"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    <button type="submit" class="btn btn-info">
                        Register
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
